---
const { link, title, img = imgDef, alt = "gymkhana" } = Astro.props;
var imgDef =
  "https://res.cloudinary.com/dwsverefw/image/upload/v1672969573/media%20council/docs/iith_syornf.png";
---

<a href={link} target="_blank" rel="noopener noreferrer">
  <div class="p-4 bg-[#040404] hover:scale-105 transition-all duration-300 flex flex-col gap-4 w-60 h-48 justify-center items-center rounded-xl text-white">
    <img src={img} class="w-12 h-12" alt={alt} />
    <span class="text-xl font-bold text-center">{title}</span>
  </div>
</a>
